<div class="big">
  <div class="container" id="welcome">
    <h2>Welcome to Eat Dat Boiga</h2>
    <div >
      <img id="burgerImg" src="assets/img/burger.png" alt="Burger Image">
    </div>
  </div>

  <div class="container" id="addBoiga">
    <h2 class="title">Add a Boiga</h2>
    <form id="create-form">

      <div class="form-group">
        <label for="ca">Boiga Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="devoured" class="form-group">
        <label  for="devoured">Devoured ?</label><br>
        <div class="options">
          <input type="radio" name="devoured" value="1" id="devoured" checked> Devoured       
          <input type="radio" name="devoured" value="0" id="notDevoured">        Not Devoured
        </div>
      </div>

      <button type="submit">Add Boiga</button>
    </form>
  </div>
 <br> 
  <div class="container">
    <h1>Your Boigas  <i class="fas fa-hamburger"></i></h1>
    
  </div>
 <br>

  <div class="container" id="boigaBox">
    <div class="container" id="burgerLists">
      <h2>Edible Boigas:</h2>

      <ul>
        {{#each boigas}}
        {{#unless devoured}}
        {{> boigas/boiga-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="container" id="burgerLists">

      <h2>Devoured Boigas:</h2>

      <ul>
        {{#each boigas}}
        {{#if devoured}}
        {{> boigas/boiga-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>